{{!Essentially this file holds the html style text that shows in the game frame
such as the intro text, the title, the footer and creates a placeholder for the
game stage}}
<section id="app">
  <header>
    <h1>{{#link-to 'game'}}Connect 4{{/link-to}}</h1>
  </header>
  <article>
    <div class="intro">Take it in turns to place counters until you make
    four in a row whilst stopping your opponent doing the same! The
    first to connect four wins!</div>
    {{outlet}}
  </article>
  <footer>
    <div class="float-left">
      Powered by Ember.
    </div>
    <div class="float-right">
      Nathan James Sharrocks
    </div>
  </footer>
</section>
